.div_task {
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
  background-color: white;
}
.card_header {
  border-radius: 16px;
}
.div5 {
  background: #fff;
  border-radius: 3px;
  margin-bottom: 15px;
  cursor: grab;
}
