.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.content {
  margin-left: 0;
}

@media only screen and (max-width: 500px) {
  body {
    overflow: hidden;
  }

  .content.is-open {
    margin-left: 100%;
  }
}